body {
  background: #555;
}

* {
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  text-align: center;
  padding: 0;
}

::selection {
  background: #212129;
}

.title {
  color: #fff;
  text-align: center;
}
.title p {
  color: #fff;
  font-size: 1.3em;
}

.title .notice {
  color: #fff;
}
.title .notice span {
  color: #fff;
  font-weight: bold;
  border-bottom: #fff 2px solid;
}

/*STYLES*/
:root {
    background-color: #555;
    color: white;
    font-family: Roboto Light;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 8em;
}

.number-ticker {
    overflow: hidden;
    height: 1em;
    background-color: #333;
    box-shadow: 0 0 0.05em black inset;
}
.digit {
  float: left;
  line-height: 1;
  transition: margin-top 1.75s ease;
  border-right: 1px solid #555;
  padding: 0 0.075em;
}

@media screen and (max-width: 620px) {
  .container {
    font-size: 4em;
  }
}
